.outerDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}