ul li {
    list-style: none;
    margin-left: 15px;
    margin-right: 20px;
    float: right;
}


.logo {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    float: left;
}

.logo a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

ul li a:hover {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.navBar {
    background-color: #4285F4;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-left: -20px;
    margin-top: -5px;
    box-shadow: 0 2px 14px -4px black;
}